<header class="flex justify-between items-center py-3 w-[1120px]">
  <img
    class="rounded-full size-12"
    src="https://lh3.googleusercontent.com/pw/AP1GczP3mb481ha4LnplZzHv8q4Q4BnfHkAz-1kX49uwOBj3LJ9bJGODkP7vAWAWup-Ho-TTliXnlpg4rVpRbJlRB1DZ5VYz1KTG1qDLCEsHLsAb6vrF7Ims_EJAxnMVrPPczN11LxYGaMtz2yzy-4XGOj5YTLMvXmeUc5pyQzi3qhp3gpIBibzkLbvbsKMTrjP77oaCs9xzLMaodat1t02W1qPsxPWV2lLDbCNjlrAcK_kTz2u4v8rlUwmjl-w8ORo732GB7r9fohprui1sRT0MRtW7_AP-KoxX0DeW6yF9BDdouvOhYVzxXJwDtL0DuurdCTdaaLuDDghtnc5KRDLK-KPQf3MW1zdKompr9TnC7M1TKW3OPJk6IiXBnR9qyLQrOr7vspIkQpzApRjfT9F1XkVAI7Iknxf5NS5pxhvXUC84Zydv5GlcupW8bzjtj2CWKucy6WW_T_P6uyVBQ0Hl_GKDWE1tIVplQ_FY4Ap1ZWMObHYCup7zXkQEH7O7PjcUEd4Xlj2e8K9lp6sNerO4YSIru27p8UAajpfIXvMSccWR7ZHoMXHsU8HUb6UI71Lw-W-uA6t2LTgZEFWIw95Vfj6RS9chhVDzrKFrBJDS40TTtJ4L88DaxwEz483R2XZUCy-N8gFnQPXDW1lfcWnQqdKLIC8ZJuXSbxnq3Pysl1ujc6BiKCp3bPETfZ0DKpV83oOwxg_2WyA6Hk0qp-c-VTyrdktEVBs6kB4vqZNtPSAzMZUBgv7JL_BxCWuy6L882lmnILErjkZvJ5mCvHor7nItyiecvifz0sffcTxM_djb8IfFP9D7V-Rj8IBZ0ZWeTsP6zGCavvapbHQJLZVr00ahS2NaWFjrzBR1AtLapqZqKAtLutBq0xidzxBzadHnyb7KAYscMfn3nYtegRIR1XE=w1279-h959-s-no-gm?authuser=0"
    alt="tonet foto"
  />
  <nav class="flex flex-row gap-x-10">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
